# Quick Start:
#
# poetry add pre-commit
# poetry run pre-commit install && poetry run pre-commit install -t pre-push
# poetry run pre-commit run --all-files
#
# To Skip Checks:
# git commit --no-verify
fail_fast: false

default_language_version:
  python: python3

repos:
  # Black
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black

  # Ruff
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.292"
    hooks:
      - id: ruff

  # Mypy
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: 'v1.5.1'  
  #   hooks:
  #     - id: mypy
  #       args: [--no-namespace-packages]

  # Pytest
  - repo: local
    hooks:
      - id: tests
        name: run tests
        pass_filenames: false
        entry: pre-push-check.sh
        language: system
        types: [python]
        stages: [push]